<!-- MEMBER PERSONAL INFO TAB -->
<div class="tab-pane active" id="tab_1_1">
    <div class="form-group">
        <label class="control-label">Member ID</label>
        <input type="text" placeholder="" value="<!--<% Memberid %>-->" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member First Name</label>
        <input type="text" placeholder="" value="<!--<% MEMBER_FIRST_NAME_C %>-->" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member Last Name</label>
        <input type="text" placeholder="" value="<!--<% MEMBER_LAST_NAME_C %>-->" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Birthdate</label>
        <input type="text" placeholder="" value="<!--<% BIRTHDATE_C %>-->" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">BSU #</label>
        <input type="text" placeholder="" value="<!--<% BSU_C %>-->" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member Status</label>
        <input type="text" placeholder="" value="<!--<% MEMBER_STATUS_C %>-->" class="form-control" disabled /> </div>
</div>
<!-- END MEMBER PERSONAL INFO TAB -->