<!-- MEMBER PERSONAL INFO TAB -->
<div class="tab-pane active" id="tab_1_1">
    <div class="form-group">
        <label class="control-label">Member ID</label>
        <input type="text" placeholder="" value="<?php echo $member['MemberId']; ?>" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member First Name</label>
        <input type="text" placeholder="" value="<?php echo $member['MEMBER_FIRST_NAME__C']; ?>" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member Last Name</label>
        <input type="text" placeholder="" value="<?php echo $member['MEMBER_LAST_NAME__C']; ?>" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Birthdate</label>
        <input type="text" placeholder="" value="<?php echo $member['BIRTHDATE__C']; ?>" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">BSU #</label>
        <input type="text" placeholder="" value="<?php echo $member['BSU__C']; ?>" class="form-control" disabled /> </div>
    <div class="form-group">
        <label class="control-label">Member Status</label>
        <input type="text" placeholder="" value="<?php echo $member['MEMBERSHIP_STATUS__C']; ?>" class="form-control" disabled /> </div>
</div>
<!-- END MEMBER PERSONAL INFO TAB -->