<!-- BEGIN RECENT VISITS -->
<div class="mt-actions">
    <div class="mt-action">
        <div class="mt-action-img">
            <img src="<% MEMBER_PICTURE_C %>"> </div>
        <div class="mt-action-body">
            <div class="mt-action-row">
                <div class="mt-action-info ">
                    <div class="mt-action-details ">
                        <span class="mt-action-author"><!--<% MEMBER_FIRST_NAME_C %> <% MEMBER_LAST_NAME_C %>--></span>
                        <p class="mt-action-desc">Status: <!--<% Status %>--></p>
                    </div>
                </div>
                <div class="mt-action-datetime ">
                    <span class="mt-action-date"><!--<% VISIT_DATE %>--></span>
                    <span class="mt=action-time"><!--<% VISIT_TIME %>--></span>
                </div>
                <div class="mt-action-buttons ">
                    <button type="button" class="btn green-haze btn-outline sbold uppercase">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END RECENT VISITS -->