<!-- MEMBER PERSONAL INFO TAB -->
<div class="tab-pane active" id="tab_1_1">
    <div class="form-group">
        <label class="control-label"><% Memberid %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
    <div class="form-group">
        <label class="control-label"><% MEMBER_FIRST_NAME_C %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
    <div class="form-group">
        <label class="control-label"><% MEMBER_LAST_NAME_C %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
    <div class="form-group">
        <label class="control-label"><% BIRTHDATE_C %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
    <div class="form-group">
        <label class="control-label"><% BSU_C %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
    <div class="form-group">
        <label class="control-label"><% MEMBER_STATUS_C %></label>
        <input type="text" placeholder="" class="form-control" /> </div>
</div>
<!-- END MEMBER PERSONAL INFO TAB -->